.mainBody{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins';
}
.container{
    width: 80%;
    height: 80%;
    border: 5px solid #446091;
    box-shadow: 0px 5px 10px 0px rgba(54, 133, 224, 0.5);
    border-radius: 20px;
    display: flex;
}
.container iframe{
    width: 50%;
    border: 0px;
}
.rightLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.signupInputwala input{
    width: 100%;
    padding: 10px;
    /* border-radius: 5px; */
    border: 2px solid rgb(186, 185, 185);
}
.iconInput{
    border: 2px solid black;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 0px 0px 10px;
    box-shadow: 0px 5px 10px 0px rgba(104, 159, 223, 0.5);
}
.agreed{
    display: flex;
    align-items: center;
    gap: 10px;
}
.agreed input.agree{
    border-radius: 10px;
    height: 30px;
    width: 30px;
    background-color: #446091;
}
.rightLogin button{
    margin-inline: auto;
    padding: 10px 80px;
    border-radius: 20px;
    background-color: #446091;
    color: white;
    font-size: 20px;
    border: 2px solid black;
    box-shadow: 0px 5px 10px 0px rgba(28, 75, 128, 0.5);
    cursor: pointer;
}
.rightLogin Button{
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
}
.link{
    color: white;
    text-decoration: none;
}
.error{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(28, 75, 128, 0.5);
}