.itemContainer{
    width: 100%;
    box-shadow: 2px 3px 5px 0px rgba(28, 75, 128, 0.5);
    border: 2px solid rgb(193, 192, 192);
    padding: 10px;
    font-weight: 500;
}
.itemButton{
    background-color: #22385f;
    color: white;
    border-radius: 10px;
    padding: 5px;
}
.dateAndButton{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.iconAndName{
    display: flex;
    align-items: center;
    gap: 5px;
}